header {
  padding: 5px 10px;
  text-align: center;
  margin: 10px 0;
  border-radius: 6px;
  position: relative;
}

.main {
  border-radius: 6px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.app-version {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: #fff;
  text-shadow: 0 0 3px black;
}
